@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bespoke Stencil";
  src: url("../fonts/BespokeStencil-Variable.ttf") format("truetype");
  font-weight: 1 999;
  font-style: normal;
}

@font-face {
  font-family: "Bespoke Stencil";
  src: url("../fonts/BespokeStencil-VariableItalic.ttf") format("truetype");
  font-weight: 1 999;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Variable.ttf") format("truetype");
  font-weight: 1 999;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-VariableItalic.ttf") format("truetype");
  font-weight: 1 999;
  font-style: italic;
}

:root {
  --background: #f9f9f9;
  --foreground: #343434;
}

input,
label,
button,
a,
p,
span {
  font-family: "Archivo", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
